
/* css stylesheet */
/* design & code by anna borisovna sergeeva */
           
body {
  overflow-y: none;
  text-align: center;
  padding: 0;
  margin: 80px 0 0 0;
  background-color: black;
  color: white;
  letter-spacing: .5px;
}

a {
  color: white;
  text-decoration: none;
  font-style: italic;
}

a:hover {
  font-style: italic;
  font-weight: bold;
}

p {
  text-align: center;
  margin-bottom: 125px;
  font-size: 20px;
}

table {
  /* on contact.html */
  padding-top: 50px;
}

td {
  padding: 10px;
}

.ahome > p {
  margin-bottom: 50px;
}

.work {
  text-align: center;
  height: 100%;
  width: 25%;
  margin: auto;
}

.work > p {
  font-size: 16px;
  font-style: italic;
  line-height: 1.5em;
}

aside {
  margin: auto;
}

#blacklivesmatter {
  height:155vh;
  width:35vw;
}

.word {
  margin: auto;
  width: 35%;
}

.word > p {
  text-align: center;
  margin-bottom: 26px;
  line-height: 1.25em;
}

.word > h1 {
  text-align: center;
  margin-top: 150px;
  margin-bottom: 150px;
}

.word > h2 {
  text-align: center;
  margin-top: 75px;
}

#water {
  background-image: url("/assets/water.gif");
  background-size: 100% 100%;
  background-color: black;
  background-repeat: no-repeat;
   overflow-x: hidden;
}

.water {
  padding: 50px;
  margin: auto;
}

.water > p {
  word-spacing: 9999rem;
  text-align: center;
  display: block;
  font-size: 2em;
  font-weight: bold;
  padding: 20px;
  line-height: 2em; 
}

.water > p ~ p {
  /* undo last assignment */
  word-spacing: unset;
  display: table-caption;
}

footer {
  padding: 15%;
}

nav {
  font-size: 15px;
  text-align: center;
}

.anna ul {
  list-style-type: none;
  padding: 0;
}

.anna li {
  text-align: center;
  line-height: 2.5em;
}

/* images */

.logo img {
  width: 200px;
  height: 200px;
  padding: 50px;
  margin: auto;
}

.paradise img {
  width: 300px;
  height: 350px;
  padding-top: 50px;
  margin: auto;
}

.home img {
  width: 500px;
  height: inherit;
  padding-top: 50px;
  margin: auto;
}

/* smartphones (portrait) ----------- */
@media only screen and (max-width : 400px) {

p{
  font-size: 18px;
  line-height: 22px; 
}

.work {
  width: 65%;
}

.word {
  width: 65%;
}

.water {
  overflow-x: hidden;
}

.anna li {
  text-align: center;
  line-height: 3em;
}

#blacklivesmatter {
  height:105vh;
  width:65vw;
}
	
.home img {
  width: 300px;
  height: inherit;
  padding-top: 50px;
  margin: auto;
}
	
}
